In [1]:
import pandas as pd

In [7]:
data ={

    'value':[1,2,3,4,15,45,18,6,45,15]}
df = pd.DataFrame(data)

In [9]:
Q1 = df['value'].quantile(0.25)
Q3 = df['value'].quantile(0.75)
IQR = Q3 - Q1

# Define bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter outliers
outliers = df[(df['value'] < lower_bound) | (df['value'] > upper_bound)]

print("Outliers:\n",outliers)

Outliers:
    value
5     45
8     45

In [10]:
import pandas as pd

In [11]:
data = pd.DataFrame({'roll no': [1,2,3,4],
                    'gender' : ['male','female','male','female'],
                    'result': ['pass','fail','fail','paass']})
enc_data = pd.get_dummies(data,columns=['gender','result'])
print(enc_data)

   roll no  gender_female  gender_male  result_fail  result_paass  result_pass
0        1          False         True        False         False         True
1        2           True        False         True         False        False
2        3          False         True         True         False        False
3        4           True        False        False          True        False

In [14]:
data = pd.read_csv("weight-height.csv")

df = pd.DataFrame(data)

df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [16]:
df1 = df.head()
df1

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [17]:
df1 = df.describe()
df1

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699